[user]
    name = Ryo Miyake
    email = ryo.studiom@gmail.com
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    logg = log --graph
    logm = log --merges --oneline
    logs = log --stat
[branch "master"]
    merge = refs/heads/master
    remote = origin
